/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #ffffff;
  --global-text-color: #000000;
  --global-theme-color: #b71c1c;
  --global-hover-color:#b71c1c;
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-icon-color: #{$grey-color-dark};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}
